<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Movie Namw</th>
        <th scope="col">Release Date</th>
        <th scope="col">Actors</th>
        <th scope="col">Directors</th>
        <th scope="col">Producers</th>
        <th scope="col">Rating</th>
        <th scope="col">Total Cost</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of movieList">
        <td>{{item.movieName}}</td>
        <td>{{item.relaseDate}}</td>
        <td>{{item.actors}}</td>
        <td>{{item.directors}}</td>
        <td>{{item.producers}}</td>
        <td>{{item.rating}}</td>
        <td>{{item.totalCost}}</td>
        <td>{{item.description}}</td>
        <td><button type="button" class="btn btn-primary" (click)="updateMovie(item)" [routerLink]="['/update-movies']">Modify</button></td>
        <td><button type="button" class="btn btn-danger" (click)="deleteMovie(item.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>