<div class="container">
    <form [formGroup]="myForm" (submit)="update()">
        <div class="row mb-2">
            <div class="col-4">
                <label>Movie Name</label>
                <input type="text" class="form-control" placeholder="Enter Movie Name" formControlName="moviename">
            </div>
            <div class="col-4">
                <label>Release Date</label>
                <input type="date" class="form-control" formControlName="releasedate">
            </div>
            <div class="col-4">
                <label>Actors</label>
                <ng-multiselect-dropdown [placeholder]="'Select all Actors'" [settings]="dropdownSettings"
                    [data]="dropdownListActors" [(ngModel)]="selectedItemsActors" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)" formControlName="actors">
                </ng-multiselect-dropdown>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4">
                <label>Directors</label>
                <ng-multiselect-dropdown [placeholder]="'Select all directors'" [settings]="dropdownSettings"
                    [data]="dropdownListProducers" [(ngModel)]="selectedItemsProducers" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)" formControlName="directors">
                </ng-multiselect-dropdown>
            </div>
            <div class="col-4">
                <label>Producers</label>
                <ng-multiselect-dropdown [placeholder]="'Select all producers'" [settings]="dropdownSettings"
                    [data]="dropdownListDirectors" [(ngModel)]="selectedItemsDirectors" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)" formControlName="producers">
                </ng-multiselect-dropdown>
            </div>
            <div class="col-4">
                <label>Rating</label>
                <input type="text" class="form-control" placeholder="Give Rating max 5" max="5"
                    formControlName="rating">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6">
                <label>Total Cost</label>
                <input type="text" class="form-control" placeholder="Enter Total Cost occured"
                    formControlName="totalcost">
            </div>
            <div class="col-6">
                <label>Description</label>
                <input type="text" class="form-control" placeholder="Enter Movie description"
                    formControlName="description">
            </div>
        </div>
        <div class="d-flex">
            <button type="submit" class="btn btn-primary ps-5 pt-2 pb-2 pe-5 ">Submit</button>
        </div>
    </form>
</div>