
<div class="container">
    <form [formGroup]="myForm" (submit)="update()">
        <div class="row mb-2">
            <div class="col-4">
                <label>Movie Name</label>
                <input type="text" class="form-control" formControlName="moviename" [ngModel]="data.movieName">
            </div>
            <div class="col-4">
                <label>Release Date</label>
                <input type="datetime" class="form-control" formControlName="releasedate" [ngModel]="data.releaseDate">
            </div>
            <div class="col-4">
                <label>Actors</label>
                <input type="text" class="form-control" formControlName="actors" [ngModel]="data.actors">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4">
                <label>Directors</label>
                <input type="text" class="form-control" formControlName="directors" [ngModel]="data.directors">
            </div>
            <div class="col-4">
                <label>Producers</label>
                <input type="text" class="form-control" formControlName="producers" [ngModel]="data.producers">
            </div>
            <div class="col-4">
                <label>Rating</label>
                <input type="text" class="form-control" formControlName="rating" [ngModel]="data.rating">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6">
                <label>Total Cost</label>
                <input type="text" class="form-control" formControlName="totalcost" [ngModel]="data.totalCost">
            </div>
            <div class="col-6">
                <label>Description</label>
                <input type="text" class="form-control" formControlName="description" [ngModel]="data.description">
            </div>
        </div>
        <div class="d-flex">
            <button type="submit" class="btn btn-primary ps-5 pt-2 pb-2 pe-5 ">Submit</button>
        </div>
    </form>
</div>